/* CONTENEDOR DE STEPS */
.step-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.step {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #d4d4d4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: 0.3s;
}

.step.active {
    background: #007bff;
    color: white;
}

.line {
    width: 60px;
    height: 3px;
    background: #d4d4d4;
}

.step.active + .line {
    background: #007bff;
}

/* OCULTAR STEPS */
.form-step {
    display: none;
}


.form-step.active {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /* columnas iguales */
  gap: 15px 20px;
}

.step-2.active {
  grid-template-columns: 1fr 1fr 1fr;
}

.gc-2 {
  grid-column: span 2;
}

.gc-1 {
  grid-column: span 1;
}

.gc-3 {
  grid-column: span 3;
}

.gc-4 {
  grid-column: span 4;
}


/* TÍTULO DE PASO */
.step-title {
    grid-column: span 4;
    margin-bottom: 10px;
}

/* NAVEGACIÓN */
.form-navigation {
    margin-top: 20px;
    text-align: center;
}



.nav-btn:disabled {
    background: #a3a3a3;
}

.preview-box {
    grid-column: span 2;
    background: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
}

/* Centrar encabezado y contenido de la columna Acciones */
th.acciones-col,
td.acciones-col {
    text-align: center !important;
}

/* Si los botones están en un contenedor flex, también centrarlos */
td.acciones-col .acciones {
    justify-content: center !important;
}
