{% extends 'shared/base.html' %}
{% load static %}

{% block title %}Estadísticas{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shared/css/reportes.css' %}">
{% endblock %}

{% block content %}
<div class="dashboard-container">
    <h1>Estadísticas</h1>
    <div class="tabs">
        <div class="tab-buttons">
            <button class="tab-btn active" data-tab="contabilidad">Contabilidad</button>
            <button class="tab-btn" data-tab="alumnos">Alumnos</button>
            <button class="tab-btn" data-tab="administrativo">Administrativo</button>
        </div>
        <!-- ==========================
            SECCIÓN 1: CONTABILIDAD
        =========================== -->
        <div class="tab-content active" id="contabilidad">
            <h2>Indicadores económicos</h2>
            <!-- KPIs -->
            <div class="kpi">
                <div class="card">
                    <h3>Ingresos totales</h3>
                    <div id="ingresosMes"></div>
                    <div id="ingresosAnio"></div>
                </div>
                <div class="card">
                    <h3>Cuotas cobradas / Estimadas este año</h3>
                    <div id="cuotasCoPen"></div>
                </div>
                <div class="card">
                    <h3>Tasa de Morosidad</h3>
                    <div id="tasaMorosidad"></div>
                </div>
                <div class="card">
                    <h3>% de Alumnos al día</h3>
                    <div id="alumnosAlDia"></div>
                </div>
            </div>

            <!-- GRÁFICOS -->
            <div class="chart-grid">
                <div id="chartIngresos" class="chart"></div>
                <div id="chartMediosPago" class="chart"></div>
                <div id="chartDeudaPromedio" class="chart"></div>
                <div id="chartDemoraPagos" class="chart"></div>
            </div>
        </div>
        <!-- ==========================
            SECCIÓN 2: ALUMNOS
        =========================== -->
        <div class="tab-content" id="alumnos">
            <h2>Estadísticas sobre alumnos</h2>
            <div class="kpi">

                <div class="card">
                    <h3>Total alumnos activos</h3>
                    <div id="alumnos_activos"></div>
                </div>

                <div class="card">
                    <h3>Total Egresados</h3>
                    <div id="alumnos_egresados"></div>
                    <h3 id="label_ingresantes">Ingresantes ({{ anio_actual }})</h3>
                    <div id="alumnos_ingresantes"></div>
                </div>

                <div class="card">
                    <h3>Tasa de retención</h3>
                    <div id="tasaRetencion"></div>
                </div>
                <div class="card">
                    <h3>Promedio años de permanencia</h3>
                    <div id="promPermanencia"></div>
                </div>
            </div>

            <div class="chart-grid">
                <div id="chartEgreIngre" class="chart"></div>
                <div id="chartPorCarrera" class="chart"></div>
                <div id="chartGenero" class="chart"></div>
                <div id="chartEdad" class="chart"></div>
                <div id="chartGeografia" class="chart"></div>
            </div>
        </div>

        <!-- ==========================
            SECCIÓN 3: ADMINISTRATIVO
        =========================== -->
        <div class="tab-content" id="administrativo">
            <h2>Estadísticas administrativas</h2>
            <!-- KPIs -->
            <div class="kpi">
                <div class="card">
                    <h3>Cantidad de trámites</h3>
                    <p>24</p>
                </div>
                <div class="card">
                    <h3>Modificaciones de datos de alumnos</h3>
                    <p>35</p>
                </div>
                <div class="card">
                    <h3>Bajas voluntarias</h3>
                    <p>24</p>
                </div>
                <div class="card">
                    <h3>Reincorporaciones</h3>
                    <p>15</p>
                </div>
                <div class="card">
                    <h3>Mensajes enviados (mes/año)</h3>
                    <p>120 / 1.450</p>
                </div>
            </div>

            <!-- GRÁFICOS -->
            <div class="dashboard">
                <div id="chartAltasMensuales" class="chart"></div>

                <!-- Tabla de trámites -->
                <div class="table-container">
                    <h3>Trámites más solicitados</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Trámite</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Certificados de alumno regular</td>
                                <td>180</td>
                            </tr>
                            <tr>
                                <td>Reincorporación</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>Inscripciones</td>
                                <td>45</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


<!-- SCRIPTS -->
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <script src="{% static 'shared/js/estadisticas_tabs.js' %}"></script>
    <script src="{% static 'shared/js/estadisticas.js' %}"></script>
{% endblock %}