{% extends "shared/base.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'shared/css/alumnos.css' %}">
{% endblock %}
{% block content %}


<div class="table-wrapper">
    <div class="filter-container" style="justify-content: space-between;">
        <div class="filter-container">
            <div style="display:flex ; flex-direction: column;">
                <label for="buscadorAlumno" class="form-label fw-bold">Buscar</label>
                <input type="text" id="buscadorAlumno" class="form-control" placeholder="Nombre">
            </div>

            <div style="display:flex ; flex-direction: column;">
                <label for="filtroEstado" class="form-label fw-bold">Estados</label>
                <select id="filtroEstado" class="form-select filtro">
                    <option value="all" selected>Todos</option>
                </select>
            </div>

            <div style="display:flex ; flex-direction: column;">
                <label for="filtroCarrera" class="form-label fw-bold">Carreras</label>
                <select id="filtroCarrera" class="form-select filtro">
                    <option value="all">Todas</option>
                </select>
            </div>
        </div>

            <a href="{% url 'alumnos_front:alumno_nuevo' %}" class="button-predeterminado">
                <img src="{% static 'shared/assets/add.svg' %}" />
                <span class="text">Nuevo Alumno</span>
            </a>

    </div>

    <table id="tablaAlumnos">
        <thead>
            <tr>
                <th>Apellido y Nombre</th>
                <th>Carrera</th>
                <th>Estado</th>
                <th class="acciones-col">Acciones</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <nav aria-label="Paginación" class="ulpgcds-pager">
        <ul id="paginador"></ul>
    </nav>
</div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'shared/js/alumnos.js' %}"></script>
{% endblock %}