{% extends "shared/base.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'shared/css/alumnos.css' %}">
{% endblock %}
{% block content %}


<div class="table-wrapper">
    <div class="filter-container" style="justify-content: space-between;">
        <div class="filter-container">
            <div style="display:flex ; flex-direction: column;">
                <label for="buscadorAlumno" class="form-label fw-bold">Buscar</label>
                <input type="text" id="buscadorAlumno" class="form-control" placeholder="Nombre">
            </div>

            <div style="display:flex ; flex-direction: column;">
                <label for="filtroEstado" class="form-label fw-bold">Estados</label>
                <select id="filtroEstado" class="form-select filtro">
                    <option value="all" selected>Todos</option>
                </select>
            </div>

            <div style="display:flex ; flex-direction: column;">
                <label for="filtroCarrera" class="form-label fw-bold">Carreras</label>
                <select id="filtroCarrera" class="form-select filtro">
                    <option value="all">Todas</option>
                </select>
            </div>
        </div>

        <button id="btnAltaAlumno" class="button-predeterminado">
            <img src="{% static 'shared/assets/add.svg' %}" alt="" />
            <span class="text">Nuevo Alumno</span>
        </button>

    </div>

    <table id="tablaAlumnos">
        <thead>
            <tr>
                <th>Apellido y Nombre</th>
                <th>Carrera</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <nav aria-label="Paginación" class="ulpgcds-pager">
        <ul id="paginador"></ul>
    </nav>
</div>



<div id="altaModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modalTitle">Nuevo Alumno</h2>

        <div class="step-indicator">
            <div class="step active">1</div>
            <div class="line"></div>
            <div class="step">2</div>
            <div class="line"></div>
            <div class="step">3</div>
            <div class="line"></div>
            <div class="step">4</div>
        </div>

        <form id="alumnoForm">
            {% csrf_token %}

            <!-- ====================================================== -->
            <!-- STEP 1: DATOS PERSONALES -->
            <!-- ====================================================== -->
            <div class="form-step active">
                <h3 class="step-title">Datos personales</h3>

                <div class="gc-2">
                    <label>Nombre</label>
                    <input type="text" name="nombre" placeholder="Carlos" value="Carlos">
                    <span class="error-msg" id="error-nombre"></span>
                </div>

                <div class="gc-2">
                    <label>Apellido</label>
                    <input type="text" name="apellido" placeholder="Cáceres" value="Cáceres">
                    <span class="error-msg" id="error-apellido"></span>
                </div>

                <div class="gc-2">
                    <label>DNI</label>
                    <input type="number" name="dni" placeholder="43927814" value=43927814>
                    <span class="error-msg" id="error-dni"></span>
                </div>

                <div class="gc-2">
                    <label>Fecha de Nacimiento</label>
                    <input type="date" name="fecha_nacimiento">
                    <span class="error-msg" id="error-fecha_nacimiento"></span>
                </div>
            </div>

            <!-- ====================================================== -->
            <!-- STEP 2: CONTACTO -->
            <!-- ====================================================== -->
            <div class="form-step step-2">
                <h3 class="step-title">Datos de contacto</h3>

                <div class="gc-2">
                    <label>Localidad</label>
                    <select name="ciudad">
                        <option value="1">Marcos Juarez</option>
                        <option value="2">Leones</option>
                        <option value="3">Inriville</option>
                    </select>
                </div>

                <div class="gc-2"></div>
                
                <div class="gc-2">
                    <label>Dirección</label>
                    <input type="text" name="direccion" placeholder="Sargento Cabral">
                </div>

                <div class="gc-1">
                    <label>Altura</label>
                    <input type="number" name="numero" placeholder="720">
                </div>

                <div class="gc-1"></div>

                <div class="gc-1">
                    <label>Prefijo</label>
                    <input type="number" name="prefijo" placeholder="3472">
                </div>

                <div class="gc-1">
                    <label>Celular</label>
                    <input type="number" name="telefono" placeholder="638644">
                    <span class="error-msg" id="error-telefono"></span>
                </div>

                <div class="gc-3">
                    <label>Correo</label>
                    <input type="email" name="email" placeholder="ejemplo@gmail.com">
                    <span class="error-msg" id="error-email"></span>
                </div>
            </div>

            <!-- ====================================================== -->
            <!-- STEP 3: ACADÉMICO -->
            <!-- ====================================================== -->
            <div class="form-step">
                <h3 class="step-title">Datos Académicos</h3>

                <div class="gc-2">
                    <label>Legajo</label>
                    <input type="text" name="legajo" placeholder="C-43927814">
                </div>

                <div class="gc-2">
                    <label>Estado</label>
                    <select name="id_estado" id="id_estado" class="form-select">
                        <option value="" disabled selected>Seleccione un estado</option>
                    </select>
                    <span class="error-msg" id="error-id_estado"></span>
                </div>

                <div class="gc-2">
                    <label>Carrera</label>
                    <select name="id_carrera" id="id_carrera" class="form-select">
                        <option value="" disabled selected>Seleccione una carrera</option>
                    </select>
                    <span class="error-msg" id="error-id_carrera"></span>
                </div>

                <div class="gc-2">
                    <label>Año de Ingreso</label>
                    <select name="anio_ingreso">
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                    </select>
                </div>
            </div>

            <!-- ====================================================== -->
            <!-- STEP 4: CONFIRMACIÓN -->
            <!-- ====================================================== -->
            <div class="form-step">
                <h3 class="step-title">Confirmación</h3>
                <p>Revisá los datos antes de guardar.</p>

                <div id="previewDatos" class="preview-box"></div>
            </div>

            <!-- ====================================================== -->
            <!-- BOTONES navegación -->
            <!-- ====================================================== -->
            <div class="form-navigation">
                <button type="button" id="prevBtn" class="nav-btn">Volver</button>
                <button type="button" id="nextBtn" class="nav-btn">Siguiente</button>
                <button type="submit" id="submitBtn" class="submit-btn">Guardar</button>
            </div>

        </form>

    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'shared/js/alumnos.js' %}"></script>
{% endblock %}